.central-column {
  margin-left: 15px;
  margin-right: 15px;
  @media (min-width: 768px) {
    margin-left: 39px;
    margin-right: 39px;
  }
  @media (min-width: 1280px) {
    margin-left: 275px;
    margin-right: 275px;
  }
}
