<section class="background">
    <div class="central-column">
        <div class="reason">
            <h2 class="reason__title" id="reason">3 Reasons to purchase</h2>
            <include src="./reason.html" title="Ut sed metus" description="Lorem ipsum dolor sit amet, consectetur.">
            </include>
            <include src="./reason.html" title="Carabitur ac erat"
                description="Mauris mattis urna quis lorem molestie.">
            </include>
            <include src="./reason.html" title="Morbi dictumst" description="Alquam in dolor et dolor tincidunt.">
            </include>
            <div class="reason__buttom">
                <a class="reason__buttom--link" href="https://adalab.es/" target="_blank" title="More reasons">More
                    Reasons</a>
            </div>
            <div class="reason__buttom-up">
                <a class="reason__buttom-up--link" href="#hero" title="down">
                    <img class="reason__buttom-up--img" src="./assets/images/ico-arrow.svg" alt="up" title="up">
                </a>
            </div>
        </div>
    </div>
</section>