<footer class="background-footer">
    <div class="central-column">
        <div class="footer">

            <section class="footer__links">
                <ul class="footer__list">
                    <li><a href="" title="">Articles</a></li>
                    <li><a href="" title="">Books</a></li>
                    <li><a href="" title="">Events</a></li>
                    <li><a href="" title="">Reasons</a></li>
                    <li><a href="" title="">Tips</a></li>
                </ul>
            </section>
            <section class="footer__socialmedia">
                <nav class="footer__nav">
                    <ul class="footer__list">
                        <li><a href="" title="">Twitter</a></li>
                        <li><a href="" title="">Instagram</a></li>
                        <li><a href="" title="">Mastodon.social</a></li>
                    </ul>
                </nav>
            </section>
            <small class="footer__copy">
                <span>&copy;2021</span>
                <span>we <i class="fas fa-heart"></i> components</span>
            </small>
        </div>
    </div>
</footer>