<footer class="background-footer">
    <div class="central-column">
        <div class="footer">

            <section class="footer__links">
                <ul>
                    <li class="footer__list">
                        <a class="footer__list--a" href="" title="">Articles</a>
                    </li>
                    <li class="footer__list">
                        <a class="footer__list--a" href="" title="">Books</a>
                    </li>
                    <li class="footer__list">
                        <a class="footer__list--a" href="" title="">Events</a>
                    </li>
                    <li class="footer__list">
                        <a class="footer__list--a" href="" title="">Reasons</a>
                    </li>
                    <li class="footer__list">
                        <a class="footer__list--a" href="" title="">Tips</a>
                    </li>
                </ul>
            </section>
            <section class="footer__socialmedia">
                <nav class="footer__nav">
                    <ul>
                        <li class="footer__list">
                            <a class="footer__list--a" href="" title="">Twitter</a>
                        </li>
                        <li class="footer__list">
                            <a class="footer__list--a" href="" title="">Instagram</a>
                        </li>
                        <li class="footer__list">
                            <a class="footer__list--a" href="" title="">Mastodon.social</a>
                        </li>
                    </ul>
                </nav>
            </section>
            <small class="footer__copy">
                <span class="footer__copy--copy">&copy;2021</span>
                <span>we <i class="fas fa-heart"></i> components</span>
            </small>
        </div>
    </div>
</footer>