<section class="background">
    <div class="central-column">
        <div class="reason">
            <h2 class="reason__title">3 Reasons to purchase</h2>
            <article class="reason__article">
                <h3 class="reason__article--subtitle">Ut sed metus</h3>
                <p class="reason__article--text"> Lorem ipsum dolor sit amet, consectetur.</p>
            </article>
            <article class="reason__article">
                <h3>Carabitur ac erat</h3>
                <p>Mauris mattis urna quis lorem molestie.</p>
            </article>
            <article class="reason__article">
                <h3>Morbi dictumst</h3>
                <p>Alquam in dolor et dolor tincidunt.</p>
            </article>
            <a href="" title="More reasons">More Reasons</a>
            <div>
                <a href="" title="down"><i class="fas fa-arrow-up"></i></a>
            </div>
        </div>
    </div>
</section>