@mixin subtitles {
  text-transform: capitalize;
  font-family: $font-title;
  font-size: $size-subtitle;
  font-weight: 700;
}
@mixin text {
  font-size: $size-text;
  font-family: $font-main;
  line-height: 1.6;
}
@mixin textfooter {
  color: white;
  padding: 20px;
  line-height: 1.8;
  font-weight: 300;
  text-transform: uppercase;
}
