// fonts
$font-main: "Roboto", sans-serif;
$font-title: "Roboto Slab", serif;

// size
$size-title: 42px;
$size-subtitle: 24px;
$size-text: 18px;
$size-smalltex: 14px;

// colors
$color-menu: #0271bc;
$color-buttom: #f26002;
$color-text: #4a4a4a;
$color-footer: #304268;
$color-smalltext: #8ccbea;
$color-backgroundreason: #eff9ff;
