//   &__buttom-up {
//     display: block;
//     background-color: white;
//     width: 45px;
//     height: 45px;
//     // position: absolute;
//     // left: 50%;
//     // transform: translate(-50%, -50%);
//   }
.background-footer {
  background: $color-backgroundfooter;
}
.footer {
  display: flex;
  flex-direction: column;
  &__links {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 30px;
  }
  &__list {
    &--a {
      text-decoration: none;
      @include textfooter;
    }
  }
  &__socialmedia {
    margin-bottom: 30px;
    text-align: center;
  }
  &__copy {
    color: $color-one;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--copy {
      display: block;
      margin-bottom: 15px;
    }
  }
}
.fa-heart {
  color: red;
}
