.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-menu;
  position: absolute;
  width: 44px;
  height: 44px;
  &__nav {
    &--menu {
      color: $color-one;
      margin: auto;
      text-align: center;
    }
  }
}
