.background {
  background: $color-backgroundreason;
}
.reason {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: center;
  position: relative;
  &__title {
    padding-top: 30px;
    @include subtitles;
    grid-column: span 3;
    padding-top: 30px;
    padding-bottom: 45px;
  }
  &__article {
    grid-column: span 3;
    margin: auto;
    &--subtitle {
      font-size: $size-text;
      font-family: $font-title;
      padding: 15px;
      padding-top: 0;
    }
    &--text {
      @include text;
      width: 184px;
      margin-bottom: 45px;
    }
  }
  &__buttom {
    grid-column: span 1;
    margin: auto;
    margin-bottom: 60px;
    &--link {
      text-decoration: none;
      width: 184px;
      height: 45px;
      background: $color-buttom;
      border-radius: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-one;
      &:hover {
        color: $color-buttom;
        background: none;
        border: 2px solid $color-buttom;
      }
    }
  }
  &__buttom-up {
    display: block;
    border-radius: 50%;
    background-color: $color-one;
    width: 45px;
    height: 45px;
    left: 50%;
    top: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &--img {
      width: 20px;
      height: 24px;
    }
  }
  @media (min-width: 768px) {
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    &__title {
      grid-row: span 1;
      @include subtitlemedia768;
    }
    &__article {
      grid-column: span 1;
      grid-row: 2/3;
    }
    &__buttom {
      grid-column: 2/3;
      grid-row: span 1;
    }
  }
  @media (min-width: 1200px) {
    margin-left: 85px;
    margin-right: 85px;

    &__title {
      @include subtitlemedia1200;
    }
  }
}
