.background {
  background: $color-backgroundreason;
}
.reason {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: center;

  &__title {
    padding-top: 30px;
    @include subtitles;
    grid-column: span 3;
    padding-top: 30px;
    padding-bottom: 45px;
  }
  &__article {
    grid-column: span 3;
  }
}
