.tips {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  &__small-text {
    display: block;
    font-size: $size-smalltex;
    color: $color-smalltext;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__title {
    @include subtitles;
    width: 280px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 1.2;
  }
  &__text {
    @include text;
    color: #4a4a4a;
    margin-bottom: 30px;
  }
  &__buttom {
    margin-bottom: 45px;
    margin-top: 20px;
    &--link {
      text-decoration: none;
      color: white;
      font-size: 20px;
      width: 76px;
      height: 45px;
      background: $color-buttom;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 22px;
      &:hover {
        color: $color-one;
        background: $color-buttom;
      }
    }
  }
  @media (min-width: 768px) {
    &__title {
      @include subtitlemedia768;
      width: 100%;
      order: -1;
    }
    &__buttom {
      margin-top: 0;
      &--link {
        width: 91px;
      }
    }
  }
  @media (min-width: 1200px) {
    margin-left: 275px;
    margin-right: 275px;

    &__title {
      @include subtitlemedia1200;
    }
    &__buttom {
      &--link {
        width: 160px;
      }
    }
  }
}
